@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
a
{
	color: #f90;
	text-decoration: none;
}
body
{
	background: #000000 url(http://www.coanime.net/images/bg_ca.jpg) no-repeat top center fixed;
	color: #4c4c4c;
	font-family: Arial;
	font-size: 16px;
	margin: 0;
}
footer
{
	background: #878787;
	color: white;
	padding: 1em;
	text-align: center;
}
footer #powerby:after
{
	-webkit-font-smoothing: antialiased;
	content:" \e0ff";
	font-family: "icomoon";
	font-size: 1em;
	opacity: 1;
}
header
{
	background: url(../img/banners/banner.jpg) no-repeat center;
	color: white;
	margin: 0;
	padding: 0.5em;
}
header figure, header h1
{
	display: inline-block;
	vertical-align: top;
}
header h1
{
	font-size: 20px;
	font-weight: normal;
	margin: 1em 0 0 1em;
	width: 60%;
}
header #user_avatar
{
	background: #ccc;
	border-radius: 0.3em;
	box-shadow: 0 0 2px #000;
	float: right;
	margin: 2em 0.7em 0 0;
}
header #user_avatar figcaption
{
	background: #f90;
	border-bottom-right-radius: 0.3em;
	border-top-right-radius: 0.3em;
	float: right;
	height: 50px;
	padding: 0 2px;
}
header #user_avatar a img
{
	border-bottom-left-radius: 0.3em;
	border-top-left-radius: 0.3em;
	/*color: #878787;
	content: "\e12e";*/
	float: left;
	/*font-family: "icomoon";
	font-size: 40px;
	text-align: center;*/
	width: 50px;
}
header #user_avatar #user_options:after
{
	-webkit-font-smoothing: antialiased;
	content:"\e015";
	font-family: "icomoon";
	font-size: 0.7em;
	opacity: 0.9;
}
header #logo
{
	width: 50%;
}
header #logo img
{
	width: 150px;
}
nav
{
	background: rgb(119, 184, 0);
	font-size: 0.9em;
}
nav ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}
nav ul li
{
	display: inline-block;
	margin: 0 1em 0 0;
	padding: 5px 0;
	vertical-align: top;
}
nav ul li a
{
	color: white;
	text-decoration: none;
}
nav ul li a:hover
{

}
nav ul #adminweb
{
	float: right;
	margin-right: 0;
}
nav ul #adminweb a:after
{
	-webkit-font-smoothing: antialiased;
	content:"\e04b";
	font-family: "icomoon";
	font-size: 0.9em;
	margin: 0 0 0 1em;
	opacity: 0.9;
}
nav ul #adminweb, nav ul #home
{
	background: #F90;
	padding: 5px 0.9em 5px 0.9em;
}
nav ul #home
{
	float: left;
	margin-left: 0;
}
nav ul #home a:after
{
	-webkit-font-smoothing: antialiased;
	content:"\e048";
	font-family: "icomoon";
	font-size: 0.9em;
	opacity: 0.9;
}
#bienvenida
{
	display: none;
}
#contenido
{
	margin: 0.5em;
}
#contenido .post
{
	background: white;
	border-bottom: 3px solid #f80;
	border-radius: 0.3em;
	margin: 0 0 1em 0;
	padding: 1em;
}
#contenido .post .post_autor
{

}
#contenido .post p
{
	color: #7a7a7a;
	font-size: 0.9em;
}
#contenido .post .post_datos
{
	text-align: right;
}
#contenido .post .post_datos a.post_tags,#contenido .post .post_datos span.post_date,
#contenido .post .post_datos a.post_stars, #contenido .post .post_datos a.save_stars
{

}
#contenido .post .post_datos .post_tags
{
	background: rgb(120, 185, 0);
	border-bottom: 2px solid rgb(170, 190, 90);
	border-radius: 0.3em;
	color: white;
	float: left;
	font-weight: bold;
	padding: 0.2em 0.5em;
}
#contenido .post .post_datos .post_stars
{
	background: #474747;
	border-bottom: 2px solid #878787;
	border-radius: 0.3em;
	color: white;
	font-weight: bold;
	margin: 0 0 0 1em;
	padding: 0.2em 0.5em;
}
#contenido .post .post_datos .save_stars:after
{
	-webkit-font-smoothing: antialiased;
	color: #F85;
	content:"\e066";
	font-family: "icomoon";
	font-size: 1.2em;
	margin: 0 1em;
	opacity: 0.8;
	position: relative;
	text-shadow: 1px 1px 1px #474747;
}
#contenido .post .post_image
{
	border: 1px solid #ccc;
	float: left;
	/*height: 140px;*/
	margin: 0 1em 0 0;
	padding: 3px;
	width: 100px;
}
#contenido .post .post_image a img
{
	/*height: 170px;*/
	width: 100%;
}
#contenido .post .post_paragraph
{
	text-align: justify;
}
#contenido .post .post_title
{
	font-size: 1em;
	font-style: italic;
	margin-top: 0;
	padding:0 0.5em 0 0.5em;
}
#contenido .post .post_title a
{
	color:#444;
	text-decoration: none;
}
#social_buttons
{
	display: none;
}
#social_buttons #twitter:after
{
	color: #13BAEA;
	content: "\e0a0";
	font-family: "icomoon";
	font-size: 2em;
	text-shadow: 1px 1px 1px #474747;
}
#social_buttons #facebook:after
{
	color: #2664BF;
	content: "\e09d";
	font-family: "icomoon";
	font-size: 2em;
	text-shadow: 1px 1px 1px #474747;
}
#social_buttons #gplus:after
{
	color: #C83F11;
	content: "\e099";
	font-family: "icomoon";
	font-size: 2em;
	text-shadow: 1px 1px 1px #474747;
}
#social_buttons #suscribete:after
{
	content: "\e094";
	font-family: "icomoon";
	font-size: 2em;
	text-shadow: 1px 1px 1px #474747;
}
#wrapper
{
	background: #EFEFEF;
	border-radius: 0.3em;
	padding-bottom: 0.2em;
	margin-bottom: 0.5em;
}