/***********************************************************************
 * Coanime.net 2.0
 * ---------------------------------------------------------------------
 * File: responsive.css
 * Author: Julmer Olivero <jolivero.03@gmail.com>
 * Licence: GPLv3 - http://www.gnu.org/licenses/gpl.txt
 * ---------------------------------------------------------------------
 * EL archivo responsive.css ( Adaptacion ) guarda todas las propiedades
 * declaradas en el archivo estilos.css y que cambiaran de acuerdo al ta-
 * maño de la pantalla del dispositivo donde sean renderizada la webapp.
 **********************************************************************/

@media screen and (max-width: 319px){
	header #user_avatar,
	nav ul #enciclopedia,
	nav ul #eventos,
	nav ul #home,
	nav ul #adminweb,
	#contenido .post .post_autor,
	#contenido .post .post_date,
	#contenido .post .post_image,
	#contenido .post .post_paragraph
	{
		display: none;
	}
	#contenido .post
	{
		padding: 0.5em;
	}
	#contenido .post .post_datos,
	#contenido .post .post_datos .post_tags,
	#contenido .post .post_datos .post_stars,
	#contenido .post .post_title a
	{
		font-size: 0.9em;
	}
}
@media screen and (min-width: 768px){
	body
	{
		margin: 0 auto;
		max-width: 1020px;
	}
	#bienvenida
	{
		display: block;
		float: right;
		margin-right: 0.5em;
		width: 27.5%;
	}
	#contenido
	{
		width: 70%;
	}
	#social_buttons
	{
		display: block;
		text-align: center;
		width: 100%;
	}
	#social_buttons a
	{
		display: inline-block;
		margin-right: 0.2em;
		padding: 0.3em;
		text-align: center;
		vertical-align: top;
	}
}
@media only screen and (min-width: 768px) and (max-width: 1019px){
	#bienvenida
	{
		display: block;
		float: right;
		width: 26%;
	}
}
/* Responsive a partir de 1020px */
@media only screen and (min-width: 1020px){
	footer
	{
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}
	header
	{
		border-radius: 5px;
		margin: 0 0 0.5em 0;
	}
	nav
	{
		border-radius: 5px;
	}
	nav ul #home
	{
		border-top-left-radius: 5px;
	}
	nav ul #adminweb
	{
		border-top-right-radius: 5px;
	}
}

