@media screen and (min-width: 768px){
	body
	{
		margin: 0 auto;
		max-width: 1020px;
	}
}

@media only screen and (min-width: 1020px){
	footer
	{
		border-radius: 5px;
	}
	header
	{
		border-radius: 5px;
		margin: 0 0 0.5em 0;
	}
	nav
	{
		border-radius: 5px;
	}
	nav ul #home
	{
		border-bottom-left-radius: 5px;
		border-top-left-radius: 5px;
	}
	nav ul #adminweb
	{
		border-bottom-right-radius: 5px;
		border-top-right-radius: 5px;
	}
	#contenido
	{
		margin: 0.5em 0.5em 0.5em 0;
	}
}

